<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#/home">Anmec</a>
        <a class="label label-info" href="https://docs.google.com/spreadsheet/ccc?key=0Ak38hVaEdUXmdDlvcHdZbnRfNDlpNEVhUDdwZDhtVlE" target="_blank">status</a>

        <ul class="nav">
            <li class="dropdown">
                <a id="vk_submenu" class="dropdown-toggle" data-toggle="dropdown" href='javascript:;'>
                    ВКонтакте
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="vk_submenu">
                    <li><a href="#/private-messages">Отправка личных сообщений</a></li>
                </ul>

            </li>
        </ul>
    </div>
</div>
